.div {
  min-height: 100vh;
  background-image: url("../../assets/img/background-home-04.png");
  color: #024a0d;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary {
  background-image: url("../../assets/img/background-03.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f6a454;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  padding: 2%;
  width: 70vw;
  text-align: justify;
  font-family: "Cinzel-Bold";
  border: solid #f6a454 3px;
  margin: 20px;
  font-size: 22px;
}
.p {
  font-family: "Cinzel-Regular";
  margin: 7px;
}
