.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "chalkboar like";
  src: url("./assets/fonts/KGBlankSpaceSketch.ttf");
}
@font-face {
  font-family: "chalkboar draw";
  src: url("./assets/fonts/Bible\ Stories\ Personal\ Use.ttf");
}
@font-face {
  font-family: "Cinzel-Bold";
  src: url("./assets/fonts/Cinzel-Bold.otf");
}
@font-face {
  font-family: "Cinzel-Regular";
  src: url("./assets/fonts/Cinzel-Regular.otf");
}
@font-face {
  font-family: "Signatie";
  src: url("./assets/fonts/Signatie.ttf");
}
