.container {
  background-color: rgb(98, 159, 103);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
