.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(98, 159, 103);
  min-height: 100vh;
  font-family: "chalkboar like";
  background-image: url(../../assets/img/background-03.png);
}

.h1 {
  font-size: 80px;
  color: #f6a454;
  font-family: "Cinzel-Bold";
  margin-bottom: 15px;
}

.button {
  font-family: "Signatie";
  background: none;
  font-size: 80px;
  color: #f6a454;
  border: none;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}
.button:hover {
  transform: scale(1.35);
  cursor: pointer;
}
.border {
  border: solid #f6a454 3px;
  height: 100%;
  width: 95%;
  padding: 140px 0px;
}
