.cardsContainer {
  height: auto;
  width: 90%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  gap: 5px;
}
.button {
  color: #f6a454;
  text-decoration: none;
  font-family: "chalkboar like";
  background-color: #25432b;
  padding: 1px 1px;
  margin: 5px;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  font-size: 8px;
  border: 1px solid #f6a454;
}
.div {
  margin-top: 5px;
}
.button:hover {
  font-family: "chalkboar like";
  cursor: pointer;
  background-color: #f6a55491;
  color: #25432b;
  border: 1px solid #25432b;
}
.button:focus {
  font-family: "chalkboar like";
  cursor: pointer;
  background-color: #f6a55491;
  color: #25432b;
  border: 1px solid #25432b;
}

.pageActual {
  font-family: "chalkboar like";
  padding: 1px 1px;
  margin: 5px;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  font-size: 8px;
  background-color: #f6a55491;
  color: #25432b;
  border: 1px solid #25432b;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin-top: 20%;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #25432b;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #f6a55491;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
